# Latex files
**/*.aux 
**/*.log 
**/*.out 
**/*.toc 
**/*.idx 
**/*.ilg 
**/*.ind 
**/*.blg 
**/*.chm 
**/*.com 
**/*.asp 
**/*.esc
**.*.pyc
**/*.lock

**/*.git
**/.git
**/.venv

**/ISIS3/

**/.idea
**/.DS_Store
**/*.pdf
**/*.zip
**/*.tif
**/data
**/outputs
programming/p3/titan_pipeline/tests/fixtures/shapefiles
programming/p3/titan_pipeline/tests/fixtures/vims
programming/p3/titan_pipeline/tests/fixtures/gtdr

